@import "../styles/main";

.container {
    padding: 1.8em;
}

.appBar {
    background-color: $header-background-color;
    min-height: 75px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}

.navLink {
    text-decoration: none;
    font-size: 1.15em;
    margin-left: 20px;
    margin-right: 20px;
    color: $header-text-color;
    text-transform: uppercase;
    font-family: $nav-font;

    :hover {
        opacity: 0.5;
        transition: .2s
    }
}

.footer {
    font-family: $header-font;
    font-size: 0.8em;
}

// Site wide styles
h1, h2, h3, h4, h5 {
    font-family: $header-font;
}

p {
    font-family: $paragraph-font;
    font-size: 1.5em;
}