# Private config file
wedding.config.js

# Do not track the generated javascript and map files from typescript
src/**/*.js
src/**/*.map
src/**/*/*.d.ts

# Build Artifacts
dist/

# Dependencies
node_modules/
typings/globals/
typings/modules/
typings/index.d.ts

# Build Tool Artifacts
npm-debug.log
yarn.lock

# System Files
**/.DS_Store