// Help from https://philipwalton.github.io/solved-by-flexbox/demos/grids/
// & https://css-tricks.com/dont-overthink-flexbox-grids/

.row {
  display: flex;
}
.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.row .col {
  flex: 1;
  // useful for debugging background: salmon;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .row,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}
